:root {
    --main-color: #f48125;
    --dark-main-color: #db6404;
    --main-gradient: -webkit-linear-gradient(120deg, #f48125, #db6404);
    --secondary-color: rgb(7, 45, 126);
    --dark-secondary-color: rgb(5, 31, 87);
}

@font-face {
    font-family: "Nunito";
    font-weight: 200;
    font-style: normal;
	src: url("../fonts/Nunito/Nunito-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: normal;
	src: url("../fonts/Nunito/Nunito-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Nunito";
    font-weight: 700;
    font-style: normal;
	src: url("../fonts/Nunito/Nunito-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Nunito";
    font-weight: 800;
    font-style: normal;
	src: url("../fonts/Nunito/Nunito-ExtraBold.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans";
    font-weight: 200;
    font-style: normal;
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    font-style: normal;
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    font-style: italic;
	src: url("../fonts/Open_Sans/OpenSans-Italic.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans";
    font-weight: 700;
    font-style: normal;
	src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans";
    font-weight: 800;
    font-style: normal;
	src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format('truetype');
}

::selection {
    background-color: var(--main-color);
    color: #fff;
}

::-moz-selection {
    background-color: var(--main-color);
    color: #fff;
}

body {
    font-family: 'OpenSans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

.bold {
    font-weight: 700;
}

.main-color-text {
    color: var(--main-color);
}

.text-35 {
    font-size: 35px !important;
}

.text-20 {
    font-size: 20px !important;
}

.text-15 {
    font-size: 15px !important;
}

.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

hr {
    border: 2px solid var(--dark-main-color);
    width: 70%;
}

.thin-text {
    font-weight: 100;
}

.header-nav-social {
    display: flex !important;
    font-weight: 400;
}

.sidenav-social {
    display: flex;
    justify-content: space-around;
    margin: 30px 40px 30px 10px;
}

.sidenav-social a {
    color: #000;
    font-size: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

nav ul a {
    padding: 0 10px;
}

@media only screen and (max-width: 1300px) {
    .header-nav-social {
      display: none !important;
    }
    nav ul a {
        padding: 0 8px;
        font-size: 0.95rem !important;
    }

}

.nav-social-link:hover {
    background-color: rgba(0,0,0,0);
    color: var(--main-color) !important;
    -webkit-transition: color 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.nav-social-link .fab {
    display: block !important;
}

.nav-social-link.first {
    padding-left: 40px !important;
}

.nav-social-link.last {
    padding-right: 40px !important;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.social {
    padding: 10px;
    color: #fff;
    font-size: 30px;
    -webkit-transition: color 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.nav-social-link.ml, .social.ml {
    filter: grayscale(100%) brightness(200%);
    -webkit-filter: grayscale(100%) brightness(200%);
    -moz-filter: grayscale(100%) brightness(200%);
}

.sidenav-social-link.ml {
    filter: grayscale(100%) brightness(0%);
    -webkit-filter: grayscale(100%) brightness(0%);
    -moz-filter: grayscale(100%) brightness(0%);
}

.nav-social-link.ml img, .nav-social-link-transp.ml img {
    height: 25px;
    width: auto;
    vertical-align: middle;
}

.sidenav-social-link.ml img {
    height: 25px;
    width: auto;
    vertical-align: middle;
    margin-top: 20px;
}

.ml-sidebar img {
    padding-top: 15px;
    line-height: 50px;
    height: 40px;
    width: auto;
}


.social.ml img {
    /* margin-top: 10px; */
    height: 35px;
    width: auto;
}

.social:hover, .sidenav-social a:hover {
    color: var(--main-color);
}

.sidenav-social-link.ml:hover, .nav-social-link.ml:hover, .nav-social-link-transp.ml:hover, .social.ml:hover, .ml-sidebar img:hover {
    filter: grayscale(0%) brightness(100%);
    -webkit-filter: grayscale(0%) brightness(100%);
    -moz-filter: grayscale(0%) brightness(100%);
    background-color: transparent;
}

.transparentBG {
    background-color: rgba(0,0,0,0) !important;
    transition: background-color 200ms linear;
    box-shadow: none;
}

.nav-social-link-transp.ml {
    filter: grayscale(100%) brightness(0%);
    -webkit-filter: grayscale(100%) brightness(0%);
    -moz-filter: grayscale(100%) brightness(0%);
}

#nav-container {
    position: absolute;
}

nav.transparentBG ul a {
    font-size: 1rem;
    color: #fff !important;
}

.colorBG {
    background-color: #fff;
    transition: background-color 200ms linear;
}

nav.colorBG ul a {
    font-size: 1rem;
    color: #000 !important;
}

nav {
    font-weight: 700;
    z-index: 2;
}

nav ul.dropdown-content li a {
    color: #000 !important;
}

i.right {
    margin-left: 0px !important;
}

.logo-nav {
    height: 55px;
    margin: 5px 0 0 60px;
}

.dropdown-content {
    top: 100% !important;
}

.drop-nav-mob {
    font-weight: 500;
    padding-left: 32px !important;
}

.drop-nav-mob-items {
    font-weight: bold;
    padding-left: 40px !important;
    overflow: hidden;
}

.hero {
    height: 100vh;
    min-height: 620px;
    width: 100%;
    background-image: linear-gradient(
      rgba(36, 36, 36, 0.3), 
      rgba(36, 36, 36, 0.8)
    ), url("../images/hero-2.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    height: 100vh;
    min-height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    width: 50vw;
    margin-top: -64px;
    margin-bottom: 64px;
}

.hero-text {
    color: #fff;
    font-size: 2rem;
    margin: 0 25%;
}

.hero-text i {
    vertical-align: bottom;
}

.btn-block {
    display: block;
}

.hero-btn {
    background-color: var(--main-color);
    margin-top: 64px;
}

.btn-outlined:hover,.btn-outlined:focus{
    background-color: var(--dark-main-color);
    box-shadow: none;
}

.btn-outlined {
    background-color: rgba(0,0,0,0);
    border: solid 1px #fff;
    border-radius: 5px;
    box-shadow: none;
    color: #fff !important;
}


.hero-go-bottom {
    position: relative;
    display: flex;
}

.hero-go-bottom a {
    padding-top: 80px;
}
.hero-go-bottom a span {
    position: absolute;
    /* top: 0; */
    bottom: 32px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.hero-go-bottom a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.hero-go-bottom a span:nth-of-type(2) {
    /* top: 16px; */
    bottom: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.hero-go-bottom a span:nth-of-type(3) {
    /* top: 32px; */
    bottom: 0;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}





.quienes-somos {
    margin: 60px auto;
    background-color: #fff;
}

/* .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
} */
.video-container iframe {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
}

.title {
    font-size: 40px;
    /* line-height: 70px; */
    /* color: #fff; */
    /* background: var(--main-gradient); */
    /* width: max-content !important; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    color: #757575;
    font-weight: 900;
    line-height: 50px;
}

.ul-title {
    font-size: 25px;
    width: max-content !important;
    font-weight: 400;
}

.ul-title::after {
    content: '';
    display: block;
    width: auto;
    height: 2px;
    background-color: var(--main-color);
    margin: 3px 0 0 0;
}

ul.lis-prof {
    list-style-position: inside;
    line-height: 35px;
}

ul.lis-prof li:before{
    content:'';
    padding: 10px 0 0 30px;
    background:url("../images/li.png") no-repeat 0 3px;
}

.equipo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipo {
    width: 50%;
}

.nuestros-trabajos-index {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50%;
}

.nuestros-trabajos-index-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.nuestros-trabajos-index:hover {
    /* -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
    transition: 0.5s; */
    cursor: pointer;
}

.nuestros-trabajos-index img {
    height: 500px;
    vertical-align: middle;
    transition: 0.5s;
}

.nuestros-trabajos-index-2 img {
    width: 100%;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
    transition: 0.5s;
}

.nuestros-trabajos-index img:hover, .nuestros-trabajos-index img.jqhover, .nuestros-trabajos-index-2 img:hover, .nuestros-trabajos-index-2 img.jqhover {
    transform: scale(1.03);
    transition: 0.5s;
}

.btn-nuestros-trabajos {
    position: absolute;
    /* bottom: 20px; */
    z-index: 1;
    background-color: var(--main-color);
}

@supports(object-fit: cover){
    .nuestros-trabajos-index img {
        object-fit: cover;
        object-position: center center;
    }
    .nuestros-trabajos-index:hover {
        object-fit: cover;
        object-position: 10px center;
    }
}

/* .servicio-container {
    margin: 0;
    padding: 0;
    background: var(--main-gradient);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 105%;
    -webkit-transition: background-size 0.5s ease-out;
    transition: background-size 0.5s ease-out;
}

.servicio-container p {
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    text-align: center;
}

.servicio-container:hover {
    background-size: 110%;
}

.servicio-container.inst-gas {
    background-image: url("../images/serv-inst-gas.jpg");
}
.servicio-container.inst-gas:hover {
    background-image: linear-gradient(
        75deg,
        rgba(230, 81, 0, 0.5), 
        rgba(230, 81, 0, 0.8)
    ), url("../images/serv-inst-gas.jpg"); 
}

.servicio-container.cert {
    background-image: url("../images/serv-cert.jpg");
}
.servicio-container.cert:hover {
    background-image: linear-gradient(
        75deg,
        rgba(230, 81, 0, 0.5), 
        rgba(230, 81, 0, 0.8)
    ), url("../images/serv-cert.jpg"); 
} */


.servicio-container {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    background: var(--main-gradient);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.servicio-container-2 {
    position: relative;
    margin: 0 !important;
    /* padding: 0 !important; */
    /* background: var(--main-gradient); */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.servicio-container img, .servicio-container-2 img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.servicio-container:hover .img-serv, .servicio-container-2:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.servicio-container p, .servicio-container-2 p {
    position: absolute;
    margin: 0 !important;
    width: 90%;
    /* z-index: 1; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 30px; */
    font-size: calc(1.1vw + 1.1vh);
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.servicio-container .overlay, .servicio-container-2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 81, 0, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.servicio-container:hover .overlay, .servicio-container-2:hover .overlay {
    background-color: rgba(230, 81, 0, 0.6);
}







figure {
	width: 100%;
	height: 200px;
	/* margin: 0; */
    /* padding: 0; */
    margin-bottom: 10px;
	background: rgb(230, 81, 0);
	overflow: hidden;
}

.servicio-container-2:hover img {
	opacity: .4;
}























.modal { 
    /* max-height: 70%; */
    /* max-width: 20%; */
    /* left:0; */
    /* right:0;  */
    /* top: 0; */
    /* bottom: 100px; */
    margin: auto;
}

.slider .slides li .caption {
    top: 10%;
}

.slider .indicators .indicator-item.active {
    background-color: var(--main-color);
}

.promo {
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    text-align: center;
    /* margin: 10px auto; */
    /* padding: 20px !important; */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    height: 500px;
}

.promo p:not(.bonif) {
    color: #fff !important;
}

.promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo.inverse {
    background-color: var(--main-color);
    color: #fff !important;
}

.promo-porc {
    display: flex;
	justify-content: center;
    align-items: center;
    align-self: flex-start;
    /* position: absolute; */
    /* top: 15px; */
    margin: auto;
    /* padding: 3%; */
    background-color: var(--main-color);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    color: #fff;
    /* color: rgba(0,0,0,0) !important; */
    font-weight: 700;
}

.inverse .promo-porc {
    /* background-color: #fff !important; */
    background-color: var(--main-color);
    /* color: var(--main-color) !important; */
    color: white;
}

.promo p a {
    color: var(--main-color) !important;
    font-weight: 700;
}

.bonif {
    color: #fff !important;
}

.promo-title {
    font-weight: 700;
    font-size: 1.5vw !important;
}

.promo-btn {
    background-color: rgba(0,0,0,0);
    border: solid 1px var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    box-shadow: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    overflow: hidden;
}

.modal-promo-btn {
    background-color: rgba(0,0,0,0);
    border: solid 1px var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    box-shadow: none;
    position: absolute;
    /* bottom: 10px; */
    left: 10px;
    right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    overflow: hidden;
}

.modal .promo-btn {
    /* position: absolute; */
    /* bottom: 0; */
    margin: 20px auto;
}

.inverse .promo-btn {
    border: solid 1px #fff;;
    color: #fff;
}

.promo-btn:hover, .promo-btn:focus{
    background-color: var(--main-color);
    color: #fff;
    box-shadow: none;
}

.inverse .promo-btn:hover,.promo-btn:focus {
    background-color: #fff;
    color: var(--main-color);
}

.promo-aclara {
    font-style: italic;
}

.promo-muted {
    color: #949494;
}

.inverse .promo-muted {
    color: #eeeeee;
}

.inverse a {
    /* color: #b3e5fc; */
}

.contacto {
    /* background-color: var(--main-color); */
    background-image: linear-gradient(90deg,
      rgba(219, 100, 4, 1), 
      rgba(219, 100, 4, 0.7)
    ), url("../images/contact.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.contacto.inverse {
    background-image: linear-gradient(90deg,
    rgba(7, 45, 126, 1), 
    rgba(7, 45, 126, 0.7)
  ), url("../images/contact.jpg"); 
}

.contacto .ul-title {
    color: #fff;
}

.contacto .ul-title::after {
    content: '';
    display: block;
    width: auto;
    height: 2px;
    background-color: #fff;
    margin: 3px 0 0 0;
}

.contacto label {
    margin-left: 10px;
}

.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-23px) translateX(-6px);
    transform: translateY(-23px) translateX(-6px);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    color: #fff !important;
}

textarea.materialize-textarea{
    height: 8rem;
}

.mensaje {
    padding-right: 0 !important;
}

.select-wrapper svg {
    fill: #fff !important;
}

.dropdown-content li>span {
    color: var(--main-color);
}

.contacto input, .contacto textarea {
    background-color: rgba(255, 255, 255, 0.3) !important;
    padding-left: 10px !important;
}

.contacto input[type]:not(.browser-default), textarea.materialize-textarea {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
}

.contacto .input-field>label {
    color: #fff;
}

.input-field input[type]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

.g-recaptcha {
    display: inline-block;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-text {
    /* margin: auto; */
    margin-right: 0;
    margin-left: 60px;
    float: right;
}

.contact-text p {
    color: #fff;
    font-size: 20px;
}

.contact-text p a {
    text-decoration: none;
    color: #fff;
}

.contact-text i:not(.whatsapp-btn) {
    margin-right: 10px;
    font-size: 30px;
}

.secondary-btn {
    background-color: var(--secondary-color);
}

.secondary-btn:hover {
    background-color: var(--dark-secondary-color);
}

.inverse .secondary-btn {
    background-color: var(--main-color);
}

.inverse .secondary-btn:hover {
    background-color: var(--dark-main-color);
}

.whatsapp-btn {
    background-color: #25D366;
    color: #fff;
}


.whatsapp-btn:hover {
    background-color: #00BFA5;
}

.btn-whatsapp-contact {
    vertical-align: middle;
    font-size: 35px;
}

.page-footer {
    background-color: #2b2b2b;
}

.footer-links li {
    margin: 10px auto;
}

.footer-links a{
    color: #fff;
}

.footer-links a:hover {
    color: var(--main-color);
    -webkit-transition: color 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.page-footer img {
    width: 100%;
    max-width: 300px;
}

.ml-footer img {
    padding-top: 10px;
    line-height: 30px;
}

.footer-copyright {
    min-height: 25px !important;
    /* padding: 0 !important; */
}




/* SLIDESHOW PARTNERS */

.customer-logos.slider {
    height: 150px;
}

.slick-slide {
    margin: 0px auto;
}

.slick-slide img {
    width: 120px;
    margin: auto;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* ------ */









/* video slider */

.video-slider {
    width: 100%;
    height: 18vw;
    background: #444;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.yt-slide {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.yt-slide:first-child{
    left: 0;
}
.video{
    height: 100%;
    width: 100%;
    border:0;
}
.slide-arrow{
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    width: 15%;
    cursor: pointer;
    opacity: 1;
    color: var(--main-color);
}
.slide-arrow:hover{
    opacity: 1;
    color: var(--dark-main-color);
}
.slide-arrow:after{
    content: "\003c";
    text-align: center;
    display: block;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3em;
}
.slide-arrow.right:after{
    content: "\003e";
}
.slide-arrow.right{
    left: auto;
    right: 0;
}







/* ------------------- SERVICIOS ------------------- */

.hero-secc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    /* min-height: 620px; */
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero-secc h3 {
    color: #fff;
    font-family: OpenSans;
    font-weight: 700;
    font-size: 70px;
}

.serv-desc p {
    color: #000;
    font-family: OpenSans;
    font-weight: 400;
    font-size: 20px;
}

.hero-inst-gas {
    background-image: linear-gradient(
      rgba(36, 36, 36, 0.3), 
      rgba(36, 36, 36, 0.8)
    ), url("../images/serv-inst-gas.jpg"); 
}

.hero-galeria {
    background-image: linear-gradient(
      rgba(36, 36, 36, 0.3), 
      rgba(36, 36, 36, 0.6)
    ), url("../images/galeria.jpg");
}

.serv-card {
    min-height: 270px;    
}

.serv-card-text {
    font-size: 20px;
    font-weight: 700;
    color: #828282;
    text-align: center;
    -webkit-transition: color 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.serv-card:hover .serv-card-text {
    color: var(--main-color);
}

.expandable .collapsible-header {
    font-weight: 700;
    color: var(--main-color);
    font-size: 20px;
    line-height: 22px;
}

.collapsible-header .material-icons {
    display: inline-flex;
    vertical-align: top;
}

.collapsible li.active i.expand {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }

.subcat {
    font-weight: 700;
    color: var(--main-color);
}

.serv-desc-gallery .carousel {
    float: left;
    height: 400px;
    width: 600px;
    max-width: 76vw;
    margin-right: 40px;
    margin-bottom: 10px;
}

.serv-desc-text {
    margin: auto;
}

.serv-desc-text h5 {
    font-family: OpenSans;
    font-weight: 700;
    color: var(--main-color);
    margin-top: 50px;
    font-size: 20px;
}

.carousel .indicators .indicator-item {
    background-color: var(--main-color);
}

.carousel .indicators .indicator-item.active {
    background-color: var(--secondary-color);
}

.trabajos .card-title {
    font-weight: 700;
    background-color: rgba(0,0,0,0.3);
    padding: 0 !important;
    text-align: center;
}

.pagination li.active {
    background-color: var(--main-color);
}

.trabajo p {
    line-height: 24px;
}

.trabajo .material-icons {
    display: inline-flex;
    vertical-align: top;
    color: var(--main-color);
}

.trabajo-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trabajo-img-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    margin: 20px;
}

.info-trabajo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info-trabajo-data {
    width: 30%;
}

.info-trabajo-desc {
    width: 70%;
    padding-left: 20px;
}

.materialboxed.active {
    width: initial !important;
    height: initial !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}




.thumbnail {
    margin: 0 !important;
    margin-bottom: 30px !important;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
}

.lightbox:target {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}













/* .tabs {
    height: 66px;
}

.tabs .tab {
    line-height: 66px;
}

.tabs .tab a{
    font-size: 15px;
    font-weight: 700;
    color: var(--main-color);
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: var(--dark-main-color);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0,0,0,0);
    height: 66px;
} */

@media only screen and (max-width: 992px) {
    .logo-nav {
        height: 55px;
        margin: 0px;
    }
    .hero-logo {
        width: 80vw;
    }
    .equipo-container {
        flex-direction: column;
    }
    .equipo, .nuestros-trabajos-index {
        width: 100%;
        margin: auto;
    }
    .modal { 
        max-height: 100% !important;
        max-width: 80%;
        /* left:0; */
        /* right:0;  */
        top: 0;
        bottom: 100px;
        margin: auto;
    }
    .modal h5 {
        font-size: 15px;
    }
    .promo-title {
        font-size: 2.5vw !important;
    }
    .video-slider {
        width: 100%;
        height: 47vw;
    }
    .info-trabajo-data {
        width: 50%;
    }
    
    .info-trabajo-desc {
        width: 50%;
    }

}

@media only screen and (max-width: 1015px) {

    .contact {
        flex-direction: column !important;
        text-align: center;
        width: 100%;
    }
    .contact-text {
        float: none;
        margin-left: 0;
    }

}



@media only screen and (max-width: 600px) {

    .ul-title {
        font-size: 25px;
    }
    .hero-text {
        margin: 0 10%;
    }
    /* .servicio-container.main {
        height: 150px;
    }
    .servicio-container.main p {
        font-size: 30px;
    }
    .servicio-container {
        height: 75px;
    }
    .servicio-container p {
        font-size: 15px;
        font-weight: 400;
    } */


    .servicio-container p, .servicio-container-2 p {
        font-size: calc(2vw + 2vh);
    }

    .lis-prof-container ul {
        margin: 0 auto;
    }

    .slider.slider-promos {
        height: 660px !important;
    }
    .slides {
        height: 620px !important;
    }
            


    .promo-title {
        font-size: 5.5vw !important;
    }

    .social {
        font-size: 25px;
    }
    
    .social.ml img {
        margin-top: 0px;
    }

    .hero-secc h3 {
        font-size: 40px;
    }
    .info-trabajo {
        flex-direction: column;
    }
    .info-trabajo-data {
        width: 100%;
    }
    
    .info-trabajo-desc {
        width: 100%;
        padding-left: 0px;
    }

}